
body,
html,
.mainContainer {
  height: 100%;
}

/* NAVBAR */
@media all and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }

  .navLinks {
    margin: 0 auto;
  }

  .navbar-fixed-top {
    top: 30px;
  }
}

/* MAIN */

.content {
  width: 85%;
}

#homeSection {
  background-image: url("../images/main-bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutImage {
  width: 70%;
  border-radius: 150px;
}
