/* NAVBAR */
@media all and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }

  .navLinks {
    margin: 0 auto;
  }

  .navbar-fixed-top {
    top: 30px;
  }
}

/* MAIN */

.main-container {
  width: 80%;
}
